@charset "UTF-8";
/* COMPASS
 * ----------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

html {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

q, blockquote {
    quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none;
}

a img {
    border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

/* BASE
 * ----------------------------------------------- */
/* ADDITIONAL RESET
 * ----------------------------------------------- */
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body * {
    max-height: 99999em;
}

body img {
    max-height: none;
}

input,
label,
select,
button,
textarea {
    margin: 0;
    border: 0;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    background: none;
    font: inherit;
    line-height: 1;
}

input:focus,
button:focus,
select:focus {
    outline: 0;
}

/* Make webkit render the search input like a normal text field */
input[type=search] {
    -webkit-appearance: textfield;
}

/* Turn off the recent search for webkit. It adds about 15px padding on the left */
::-webkit-search-decoration {
    display: none;
}

/* Turn off scroll bars in IE unless needed */
textarea {
    overflow: auto;
    white-space: pre-line;
}

strong, b {
    font-weight: 700;
}

/* PRINTING
 * ----------------------------------------------- */
@media print {
    body {
        -webkit-print-color-adjust: exact;
        color-adjust: exact;
    }

    html,
    body {
        margin: 0;
    }

    @page {
        margin: 0;
    }

    @page :left {
        margin: 0;
    }

    @page :right {
        margin: 0;
    }

    @page :first {
        margin-top: 0;
    }
}

/* GENERAL
 * ----------------------------------------------- */
body {
    color: #2c3e50;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;
    background-color: #f6f6f6;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
}

body p {
    margin-bottom: 12px;
}

select::-ms-expand {
    display: none;
}

/* HELPERS
 * ----------------------------------------------- */
a {
    color: #2c3e50;
    text-decoration: none;
}

img {
    max-width: 100%;
}

.trans {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transition: all 0.26s ease;
    -o-transition: all 0.26s ease;
    -webkit-transition: all 0.26s ease;
    transition: all 0.26s ease;
}

.trans:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.8;
}

.hidden {
    display: none;
}

.invisible {
    visibility: hidden;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
    text-justify: distribute;
}

.text-nowrap {
    white-space: nowrap;
}

.text-lowercase {
    text-transform: lowercase;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-capitalize {
    text-transform: capitalize;
}

.dis-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

/* RESPONSIVE
 * ----------------------------------------------- */
.sm {
    display: none !important;
}

@media (max-width: 767px) {
    .md {
        display: none !important;
    }

    .sm {
        display: block !important;
    }

    .trans,
    .trans:hover {
        filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
        opacity: 1;
    }
}

/* PARTS
 * ----------------------------------------------- */
.block-doc {
    position: relative;
    overflow: hidden;
    padding-top: 102px;
}

.block-filter-mobile{
    display: none;
}
.main-header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}

header .padding-headder {
    padding-left: 15px;
    padding-right: 15px;
}

header .inner-top-header {
    min-height: 40px;
}

header .top-header {
    background: rgba(255, 255, 255, 0.5);
    color: #2c3e50;
}

header .top-header .logo-mobile {
    display: none;
}

header .top-header .btn-menu {
    display: none;
}

header .mail-top {
    display: block;
    color: #5f6063;
    font-size: 14px;
}

header .mail-top i {
    font-size: 16px;
    padding-bottom: 2px;
    margin-right: 5px;
}

header .language a {
    display: inline-block;
    margin-left: 7px;
}

header .language a img {
    display: block;
    width: 28px;
}

header .logo a {
    display: block;
}

header .logo a img {
    display: block;
}

header .main-nav {
    /*background: rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid #93add2;
    border-top: 1px solid #ffffff;*/
    -moz-transition: all 0.26s ease;
    -o-transition: all 0.26s ease;
    -webkit-transition: all 0.26s ease;
    transition: all 0.26s ease;
    position: absolute;
    width: 100%;
    left: 0;
    top: 40px;
}

body.another-page header .main-nav,
header .main-nav.sticky{
    background: rgba(210, 226, 236, 0.93);
}
body.another-page header .main-nav nav ul li a,
header .main-nav.sticky nav ul li a{
    color: #292663;
}

header .main-nav nav ul li:hover .dropdown,
header .main-nav nav ul li:hover .sub-menu {
    top: 59px;
    visibility: visible;
    opacity: 1;
}

header .main-nav nav ul li a {
    /*color: #292663;*/
    color: #fff;
    padding: 18px 15px;
    font-size: 15px;
    font-weight: 600;
    display: block;
    text-decoration: none;
    -moz-transition: all 0.26s ease;
    -o-transition: all 0.26s ease;
    -webkit-transition: all 0.26s ease;
    transition: all 0.26s ease;
}

header .main-nav nav ul li a:hover,
header .main-nav nav ul li.current-menu-item a,
header .main-nav nav ul li.current-menu-ancestor a{
    color: #eee !important;
    background: #2a2663;
    text-decoration: none;
}

header .main-nav nav ul li .dropdown,
header .main-nav nav ul li .sub-menu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    left: 0;
    display: block;
    border: none;
    background: #d2e2ec;
    margin: 0;
    z-index: 10;
    padding: 2px 0 0 0;
    width: 200px;
    top: 80px;
}

header .main-nav nav ul li .dropdown ul li,
header .main-nav nav ul li .sub-menu li {
    padding: 5px 10px 3px;
    border-bottom: 1px solid #9ac3e4;
}

header .main-nav nav ul li .dropdown ul li a,
header .main-nav nav ul li .sub-menu li a {
    color: #111;
    padding: 5px 0;
    display: block;
    font-size: 14px;
    overflow: hidden;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-transition: all 0.26s ease;
    -o-transition: all 0.26s ease;
    -webkit-transition: all 0.26s ease;
    transition: all 0.26s ease;
    background: transparent;
}

header .main-nav nav ul li .dropdown ul li a:hover,
header .main-nav nav ul li .sub-menu li a:hover {
    color: #292663;
    padding-left: 3px;
}

header .right-header .phone-header {
    color: #fff;
    display: block;
    letter-spacing: 0.1145em;
    line-height: 1;
    padding: 22px 20px 22px 20px;
    background-color: #4dc7ec;
    -moz-transition: all 0.26s ease;
    -o-transition: all 0.26s ease;
    -webkit-transition: all 0.26s ease;
    transition: all 0.26s ease;
}

header .right-header .phone-header:hover {
    background-color: #4dc7ec;
    color: #eee;
}

header .right-header .phone-header .text {
    font-size: 14px;
    font-weight: 600;
}

header .right-header .phone-header i {
    font-size: 16px;
}

header .main-nav.sticky {
    background-color: #fff;
}

@media (min-width: 992px) {
    header .main-nav .right-header nav ul li {
        position: relative;
    }

    header .main-nav .right-header nav ul li .dropdown,
    header .main-nav .right-header nav ul li .sub-menu {
        -moz-transition: all 0.26s ease;
        -o-transition: all 0.26s ease;
        -webkit-transition: all 0.26s ease;
        transition: all 0.26s ease;
    }

    header .main-nav.sticky {
        position: fixed;
        top: -66px;
        left: 0;
        right: 0;
        z-index: 35;
        -webkit-transform: translateY(65px);
        -ms-transform: translateY(65px);
        transform: translateY(65px);
        -webkit-transition: -webkit-transform 0.5s;
        transition: transform 0.5s;
        -webkit-box-shadow: 0 5px 0 rgba(0, 0, 0, 0.2);
        box-shadow: 0 5px 0 rgba(0, 0, 0, 0.2);
    }
}

@media (max-width: 1199px) {
    header .right-header .phone-header {
        padding: 22px 10px;
    }

    header .main-nav nav ul li a {
        padding: 18px 10px;
        font-size: 14px;
    }
}

@media (max-width: 991px) {
    .block-doc {
        padding-top: 40px;
    }

    header .inner-top-header {
        padding-left: 0;
        padding-right: 0;
    }

    header .language {
        margin-top: 3px;
    }

    header .language a img {
        width: 22px;
    }

    header .top-header {
        padding: 0 10px;
    }

    header .top-header .mail-top {
        display: none;
    }

    header .top-header .logo-mobile {
        display: block;
    }

    header .top-header .logo-mobile img {
        width: 100px;
    }

    header .top-header .btn-menu {
        display: block;
        font-size: 26px;
        width: 24px;
        text-align: center;
    }

    header .top-header .btn-menu.active .btn-open {
        display: none;
    }

    header .top-header .btn-menu.active .btn-close {
        display: block;
    }

    header .top-header .btn-menu .btn-open {
        display: block;
    }

    header .top-header .btn-menu .btn-close {
        display: none;
    }

    header .main-nav {
        position: absolute;
        background: #2a2663;
        border: 0;
        padding: 40px 0 0;
        -moz-transition: all 0.26s ease;
        -o-transition: all 0.26s ease;
        -webkit-transition: all 0.26s ease;
        transition: all 0.26s ease;
        width: 300px;
        top: 0;
        right: -320px;
        height: 100vh;
        z-index: -1;
        left: auto;
    }

    header .main-nav .padding-headder {
        padding-left: 0;
        padding-right: 0;
    }

    header .main-nav.active {
        right: 0;
    }

    header .main-nav .logo {
        display: none;
    }

    header .main-nav .right-header {
        display: block;
        width: 100%;
        position: relative;
    }

    header .main-nav .right-header .phone-header {
        color: #fff;
        display: block;
        font-weight: 600;
        letter-spacing: 0.1145em;
        line-height: 1;
        padding: 22px 20px 22px 20px;
        background-color: #4dc7ec;
        width: 100%;
    }

    header .main-nav .right-header .phone-header i {
        font-size: 18px;
        margin-right: 5px;
    }

    header .main-nav .right-header .phone-header .text {
        font-size: 18px;
    }

    header .main-nav .right-header nav {
        display: block;
    }

    header .main-nav .right-header nav ul {
        display: block;
    }

    header .main-nav .right-header nav ul li {
        display: block;
        background-color: #2a2663;
    }

    header .main-nav .right-header nav ul li a {
        display: block;
        color: #fff !important;
        font-size: 14px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        padding: 10px 25px;
        position: relative;
    }

    header .main-nav .right-header nav ul li a.active:after {
        content: "";
    }

    header .main-nav .right-header nav ul li a:after {
        font-size: 26px;
        display: inline-block;
        font-family: FontAwesome;
        content: "";
        position: absolute;
        right: 25px;
        top: 50%;
        margin-top: -20px;
        color: #fff;
    }

    header .main-nav .right-header nav ul li .dropdown,
    header .main-nav .right-header nav ul li .sub-menu {
        position: relative;
        opacity: 1;
        width: 100%;
        top: auto;
        background: transparent;
        visibility: visible;
        display: none;
    }

    header .main-nav .right-header nav ul li .dropdown ul li,
    header .main-nav .right-header nav ul li .sub-menu li {
        padding: 0 15px;
        border: 0;
        background: #2a2663;
    }

    header .main-nav .right-header nav ul li .dropdown ul li a,
    header .main-nav .right-header nav ul li .sub-menu li a {
        color: #b6d7f1;
        padding: 5px 0;
        display: block;
        font-size: 14px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    header .main-nav .right-header nav ul li .dropdown ul li a:after,
    header .main-nav .right-header nav ul li .sub-menu li a:after {
        display: none;
    }
}

.main-footer {
    background: #2a2663;
    color: #bebebe;
    padding: 10px;
}

.main-footer .coppyright {
    margin: 30px 0;
    display: block;
    border-top: 1px solid #5b5880;
    padding-top: 22px;
    color: #bebebe;
    text-align: center;
}

.col-ft .list-footer li {
    line-height: 26px;
}

.col-ft .list-footer li a {
    display: block;
    color: #bebebe;
    font-weight: normal;
    -moz-transition: all 0.26s ease;
    -o-transition: all 0.26s ease;
    -webkit-transition: all 0.26s ease;
    transition: all 0.26s ease;
}

.col-ft .list-footer li a:hover {
    color: #e95b35;
}

.col-ft .btn-scl-ft a {
    margin: 0 10px 0 0;
    color: #6f91ad;
    font-size: 20px;
    display: inline-block;
    padding: 9px 11px 5px 11px;
    text-align: center;
    -moz-transition: all 0.26s ease;
    -o-transition: all 0.26s ease;
    -webkit-transition: all 0.26s ease;
    transition: all 0.26s ease;
}

.col-ft .btn-scl-ft a:hover {
    color: #e95b35;
}

.col-ft .ttl-ft {
    font-size: 17px;
    color: #6f91ad;
    margin: 30px 0 15px;
    font-weight: 600;
    text-transform: uppercase;
}

.col-ft a {
    color: #bebebe;
}

.col-ft p {
    text-align: justify;
    color: #bebebe;
    font-weight: normal;
    margin-bottom: 15px;
}

.more-action {
    display: none;
}

.go-top {
    position: fixed;
    background: #95bcda;
    color: #fff;
    bottom: 30px;
    right: 20px;
    z-index: 10;
    border: none;
    padding: 0 7px 3px 7px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    -moz-transition: all 0.26s ease;
    -o-transition: all 0.26s ease;
    -webkit-transition: all 0.26s ease;
    transition: all 0.26s ease;
    text-align: center;
    cursor: pointer;
}

.go-top i {
    font-size: 30px;
}

@media (max-width: 767px) {
    .main-footer .coppyright {
        margin-bottom: 70px;
    }

    .more-action {
        display: block;
        text-align: center;
        position: fixed;
        width: 100%;
        bottom: 0;
        left: 0;
        z-index: 400;
        padding: 0 0 10px;
        background-color: #f9f9f9 !important;
        border-top: 1px solid #d8dde6 !important;
    }

    .more-action .item-action {
        display: inline-block;
    }

    .more-action .item-action a {
        display: block;
    }

    .more-action .item-action a img {
        display: block;
        margin: 0 auto;
        padding: 8px 15px 10px 15px;
    }

    .more-action .item-action span {
        color: #333;
        font-size: 10px !important;
        display: block !important;
        margin-top: -8px !important;
    }

    .go-top {
        right: 5px;
        bottom: 60px;
    }

    .main-footer {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width:768px) {
    footer .more-action {
        display: block;
        position: fixed;
        top: auto;
        right: 0;
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
        width: 100%!important;
        bottom: 0;
        background-color: #ffffff !important;
        z-index: 9;
        padding-right: 30px!important;
    }

    footer .more-action .item-action {
        margin: 0 10px 5px;
    }

    footer .more-action .item-action a {
        display: block;
        padding: 5px;
        border-radius: 40px;
    }

    footer .more-action .item-action a {
        background-color: #f9f9f9 !important;
    }

    footer .more-action .item-action a img {
        display: block;
    }

    footer .more-action .item-action span {
        display: block!important;
    }

}

.style-select {
    height: 38px;
    background-color: #fff;
    border: 1px solid #d6d6d6;
    position: relative;
}

.style-select:after {
    position: absolute;
    height: 100%;
    width: 36px;
    font-family: FontAwesome;
    content: "";
    border-left: 1px solid #d6d6d6;
    top: 0;
    right: 0;
    text-align: center;
    line-height: 38px;
    color: #595959;
    pointer-events: none;
}

.style-select select {
    width: 100%;
    display: block;
    background-color: transparent;
    height: 38px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    padding: 0 32px 0 20px;
    color: #444;
    line-height: 38px;
}

.style-text {
    display: block;
    width: 100%;
    height: 38px;
    padding: 6px 12px;
    font-size: 15px;
    line-height: 1.6;
    color: #2c3e50;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d6d6d6;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    outline: none;
}

.style-btn-submit {
    display: block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    background-image: none;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    padding: 7px 20px;
    width: 100%;
    font-size: 15px;
    line-height: 1.6;
    border-radius: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    font-weight: 600;
    font-size: 15px;
    position: relative;
    border: none;
    background: #ce161e;
    color: #fff;
    cursor: pointer;
    outline: none;
}

.content-filter {
    border-top: 10px solid #6f91ad;
    padding: 0 30px 20px 30px;
    background: #ebebeb;
    position: relative;
}

.content-filter .col-md-6 {
    margin-bottom: 10px;
}

.content-filter .ttl-filter {
    font-size: 28px;
    color: #2c3e50;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 0;
    text-align: center;
    margin: 20px auto 30px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: "Montserrat", sans-serif;
}

.content-filter .row {
    margin-left: -10px;
    margin-right: -10px;
}

.content-filter .row > * {
    padding-left: 10px;
    padding-right: 10px;
}

.content-filter .col-lg-1{
    padding: 0;
}

@media (max-width: 767px) {
    .content-filter {
        margin-left: -15px;
        margin-right: -15px;
    }

    .content-filter .ttl-filter {
        font-size: 20px;
        margin: 20px auto 20px;
    }
    .content-filter .style-select, .content-filter .style-text{
        margin-bottom: 5px;
    }
    .content-filter .col-lg-1 {
        padding-left: 10px;
        padding-right: 10px;
    }
}

/* PAGES
 * ----------------------------------------------- */
.section-slider-top {
    position: relative;
    margin-top: -102px;
    margin-bottom: -68px;
}

.section-slider-top .text-inslider {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
}

.section-slider-top .text-inslider .ttl-keyvisual {
    text-transform: uppercase;
    font-size: 40px;
    color: #fff;
    font-weight: bold;
    margin-top: 240px;
}

.section-slider-top .text-inslider p {
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
    padding-bottom: 20px;
    font-weight: bold;
}

.slider-home .item-slider {
    display: block !important;
    height: 700px;
    background-size: cover;
}

/*.slider-home .item-slider.slider01 {
  background-image: url(../img/home/slider.jpg);
  background-size: cover;
}
.slider-home .item-slider.slider02 {
  background-image: url(../img/home/slider2.jpg);
  background-size: cover;
}*/
.slider-home .item-slider img {
    width: 100%;
}

.sec-gray, section {
    background: #f6f6f6;
}

.sec-common {
    padding: 40px 0;
    border-bottom: 1px solid #ddd;
}

.no-border {
    border: 0 !important;
}

.ttl-cmn {
    font-size: 28px;
    color: #2c3e50;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 0;
    text-align: center;
    margin-bottom: 15px;
    font-family: "Montserrat", sans-serif;
}

.desc-cmn {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0;
    line-height: 20px;
    text-align: center;
}

.head-tab {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 35px;
}

.head-tab li {
    display: inline-block;
    margin: 0 45px;
}

.head-tab li.current a {
    border: 2px solid #d1232a;
    background: #d1232a;
    color: #e8e8e8;
}

.head-tab a {
    padding: 5px 10px;
    text-transform: uppercase;
    color: #ffffff;
    background: #292663;
    border: 2px solid #292663;
    display: block;
}

.tab-content {
    display: none;
}

#tab-1 {
    display: block;
    margin-top: 30px;
}

.view-gird .item-product:hover .thumb img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.view-gird .item-product:hover .content {
    background: #2c3e50;
    border-color: #2c3e50;
}

.view-gird .item-product:hover .content .ttl-item {
    color: #fff;
}

.view-gird .item-product:hover .content .ttl-item a {
    color: #fff;
}

.view-gird .item-product:hover .content .infor * {
    color: #f3bc65;
}

.item-product {
    margin-bottom: 50px;
}

.item-product .thumb {
    overflow: hidden;
}

.item-product .thumb img {
    -moz-transition: all 0.26s ease;
    -o-transition: all 0.26s ease;
    -webkit-transition: all 0.26s ease;
    transition: all 0.26s ease;
    display: block;
    width: 100%;
}

.item-product .content {
    padding: 8px 15px 20px;
    -moz-transition: all 0.26s ease;
    -o-transition: all 0.26s ease;
    -webkit-transition: all 0.26s ease;
    transition: all 0.26s ease;
    border: 1px solid #ddd;
}

.item-product .content .ttl-item {
    background: url(../img/home/dot.png) 0 100% repeat-x;
    font-size: 15px;
    color: #292663;
    display: block;
    padding-bottom: 5px;
    margin-bottom: 10px;
    font-weight: 600;
    line-height: 22px;
}

.item-product .content .address-item {
    color: #6f91ad;
    font-style: italic;
    margin-top: 5px;
    display: block;
}

.item-product .content .sumary {
    color: #585858;
    font-size: 14px;
    margin-top: 10px;
    display: block;
    margin-bottom: 20px;
}

.item-product .content .show-in-list {
    display: none;
}

.item-product .content .infor {
    color: #d1232a;
}

.item-product .content .infor .num-id strong, .item-product .content .infor .mun-price strong {
    font-size: 18px;
}

.item-product .content hr {
    border-top: 1px solid #ddd;
    padding: 0;
    margin: 5px 0 15px;
}

.item-product .content .utilities .view-more {
    font-size: 12px;
    padding: 5px 6px;
    margin-top: -5px;
    color: #fff;
    background: #2a2663;
    align-self: flex-end;
}

.item-product .content .utilities .list-utilities {
    color: #6f91ad;
}

.item-product .content .utilities .list-utilities span {
    margin-right: 15px;
}

.item-product .content .utilities .list-utilities span i {
    margin-right: 3px;
}

.item-product .content sub, .item-product .content sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

.btn-viewmore {
    position: relative;
    border: 1px solid #d1232a;
    text-align: center;
    display: block;
    background: #d1232a;
    color: #e8e8e8;
    padding: 10px 20px;
    text-transform: uppercase;
    text-decoration: none;
    vertical-align: middle;
    line-height: 1.6;
    font-weight: 600;
    margin: 0 auto;
    max-width: 210px;
    -moz-transition: all 0.26s ease;
    -o-transition: all 0.26s ease;
    -webkit-transition: all 0.26s ease;
    transition: all 0.26s ease;
}

.btn-viewmore:hover {
    border-color: #f3bc65;
    color: #f3bc65;
}

.sec-about-us p {
    color: #606e7c;
    margin-bottom: 12px;
}

.slider-agents {
    margin-top: 30px;
    margin-bottom: 40px;
}

.item-agents {
    border-right: 1px solid #ddd;
}

.item-agents:hover .thumb .scl-agents {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.item-agents .thumb {
    overflow: hidden;
    position: relative;
    margin: 5px;
}

.item-agents .thumb img {
    display: block;
    width: 100%;
    -moz-transition: all 0.26s ease;
    -o-transition: all 0.26s ease;
    -webkit-transition: all 0.26s ease;
    transition: all 0.26s ease;
}

.item-agents .thumb img:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.item-agents .scl-agents {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.8)));
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#CC000000', GradientType=0);
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    padding: 60px 0 10px;
    -moz-transition: all 0.26s ease;
    -o-transition: all 0.26s ease;
    -webkit-transition: all 0.26s ease;
    transition: all 0.26s ease;
    -webkit-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px);
}

.item-agents .scl-agents a {
    font-size: 20px;
    color: #fff;
    margin: 0 10px;
    -moz-transition: all 0.26s ease;
    -o-transition: all 0.26s ease;
    -webkit-transition: all 0.26s ease;
    transition: all 0.26s ease;
}

.item-agents .info {
    padding: 5px;
    text-align: center;
    background-color: #fff;
}

.item-agents .info .name {
    margin-bottom: 0;
    margin-top: 0;
    color: #2c3e50;
    text-transform: none;
    margin: 7px 0 0;
    font-weight: bold;
    font-size: 16px;
}

.item-agents .info .position {
    font-size: 12px;
    padding-top: 0;
    color: #777;
    margin-top: -3px;
    margin-bottom: 5px;
}

.item-agents .info .phone, .item-agents .info .mail {
    margin-bottom: 10px;
}

.item-agents .info .phone a, .item-agents .info .mail a {
    margin: 9px 0 0 0;
    font-size: 13px;
    color: #7d8082;
}

.item-agents .info .phone a i, .item-agents .info .mail a i {
    margin-right: 3px;
}

.item-agents .info .wishlist {
    text-transform: uppercase;
    font-size: 12px;
    color: #dedede;
    display: block;
    border: none;
    margin: 0 auto;
    background: #d12229;
    -moz-transition: all 0.26s ease;
    -o-transition: all 0.26s ease;
    -webkit-transition: all 0.26s ease;
    transition: all 0.26s ease;
    text-align: center;
    vertical-align: middle;
    padding: 8px 20px 6px;
}

.item-agents .info .wishlist:hover {
    background: #292663;
}

.slick-prev-circle {
    font-size: 40px;
    width: 50px;
    height: 50px;
    line-height: 50px !important;
    text-align: center;
    background: #292663;
    color: #fff !important;
    line-height: 0.5;
    position: absolute;
    top: 50%;
    left: -15px;
    border: none;
    outline: none;
    border-radius: 50%;
    z-index: 10;
    margin: -29px 0 0 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    cursor: pointer;
}

.slick-prev-circle i {
    display: block;
}

.slick-next-circle {
    margin: -29px 0 0 0;
    font-size: 40px;
    width: 50px;
    height: 50px;
    line-height: 50px !important;
    text-align: center;
    background: #292663;
    color: #fff !important;
    line-height: 0.5;
    position: absolute;
    top: 50%;
    right: -15px;
    border: none;
    outline: none;
    border-radius: 50%;
    z-index: 10;
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    cursor: pointer;
}

.slick-next-circle i {
    display: block;
}

.slick-prev-circle, .slick-next-circle {
    -moz-transition: all 0.26s ease;
    -o-transition: all 0.26s ease;
    -webkit-transition: all 0.26s ease;
    transition: all 0.26s ease;
}

.slick-prev-circle:hover, .slick-next-circle:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.8;
}

.item-news {
    margin-bottom: 40px;
}

.item-news .thumb {
    overflow: hidden;
    position: relative;
}

.item-news .thumb .bage {
    position: absolute;
    top: 0;
    right: 0;
    background: #2c3e50;
    color: #fff;
    display: block;
    width: 50px;
    text-align: center;
    padding: 10px 0;
    line-height: 1;
    font-weight: 600;
    text-transform: uppercase;
}

.item-news .thumb .bage .year {
    display: block;
    font-size: 18px;
    font-weight: bold;
}

.item-news .thumb img {
    display: block;
    width: 100%;
}

.item-news .text .ttl-news a {
    margin: 14px 0 0 0;
    line-height: 1.2;
    font-size: 16px;
    color: #2c3e50;
    display: inline-block;
    font-weight: 600;
}

.read-more {
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    padding: 6px 20px;
    line-height: 1.6;
    border-radius: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 700;
    position: relative;
    text-decoration: none;
    border: 2px solid #2c3e50;
    background: #292663;
    color: #fff;
    margin: 10px 0 10px 0;
    font-size: 12px;
    width: auto;
}

.read-more:hover {
    border-color: #f3bc65;
    color: #f3bc65;
}

@media (max-width: 991px) {
    .section-slider-top {
        margin-bottom: -316px;
    }

    .section-slider-top .text-inslider .ttl-keyvisual {
        margin-top: 140px;
    }
}

@media (max-width: 767px) {
    .section-slider-top {
        margin-bottom: 0;
        margin-top: -62px;
    }

    .slider-home .item-slider {
        height: 240px;
    }

    .section-slider-top .text-inslider .ttl-keyvisual {
        font-size: 20px;
        margin-top: 80px;
        line-height: 1.4;
        margin-bottom: 20px;
    }

    .section-slider-top .text-inslider p {
        font-size: 12px;
    }

    .sec-common {
        padding: 20px 0;
    }

    .head-tab {
        margin: 20px 0;
    }

    .head-tab li {
        margin: 0 5px;
    }

    .head-tab li a {
        padding: 4px;
        font-size: 11px;
    }

    .ttl-cmn {
        font-size: 18px;
    }

    .item-product {
        margin-bottom: 20px;
        margin-bottom: 10px;
    }

    .item-news {
        margin-bottom: 20px;
    }
}

.sec-filter-small {
    padding: 20px 0 0;
}

.content-filter.stl-page {
    border: 0;
    background: rgba(0, 0, 0, 0.50);
    padding: 20px 20px 10px;
}

.block-breadcrumb {
    padding-top: 30px;
}

.box-breadcrumb ul {
    display: inline-block;
    border: 1px solid #dedede;
    background: #fff;
    padding: 0 5px;
}

.box-breadcrumb ul li {
    display: inline-block;
    padding: 5px 5px;
    font-size: 12px;
    color: #808080;
}

.box-breadcrumb ul li:last-child a:after {
    display: none;
}

.box-breadcrumb ul li span {
    font-size: 12px;
    color: #808080;
    text-transform: inherit;
    display: block;
}

.box-breadcrumb ul li a {
    font-size: 12px;
    color: #808080;
    text-transform: inherit;
    display: block;
}

.box-breadcrumb ul li a:after {
    content: "";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    position: relative;
    top: 0;
    display: inline-block;
    font-size: 12px;
    margin: 0 0 0 10px;
}

.sec-head-page {
    color: #2c3e50;
    padding-top: 25px;
}

.sec-head-page .ttl-title-page {
    font-size: 28px;
    color: #2c3e50;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
}

.sec-head-page .count-item {
    font-size: 14px;
    font-weight: 400;
    margin: 4px 0 15px 0;
    text-align: left;
}

.sec-head-page .block-sort {
    background: #95bcda;
    color: #2c3e50;
    margin-top: 0;
    margin-bottom: 10px;
    padding: 20px;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.sec-head-page .block-sort .sort {
    max-width: 220px;
}

.sec-head-page .block-sort .sort label {
    text-transform: uppercase;
    display: block;
    margin-bottom: 6px;
}

.sec-head-page .block-sort .view .text {
    text-transform: uppercase;
    margin-right: 5px;
}

.sec-head-page .block-sort .view .view-gird, .sec-head-page .block-sort .view .view-list {
    width: 34px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    display: inline-block;
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    margin-left: 5px;
    cursor: pointer;
}

.sec-head-page .block-sort .view .view-gird.active, .sec-head-page .block-sort .view .view-list.active {
    color: #BBB9B9;
}

.sec-head-page .block-sort .view .view-gird:hover, .sec-head-page .block-sort .view .view-list:hover {
    background-color: #e6e6e6;
    border-color: #adadad;
}

.style-select.style-white {
    height: 30px;
    background-color: #95bcda;
    border-color: #fff;
}

.style-select.style-white:after {
    color: #fff;
    line-height: 28px;
    width: 29px;
}

.style-select.style-white select {
    padding-right: 32px;
    padding-left: 5px;
    height: 100%;
    font-size: 13px;
    background-color: #95bcda;
    line-height: 2;
    color: #fff;
}

.block-product-cat.view-list .item-product {
    flex: 0 0 100% !important;
    max-width: 100% !important;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 30px;
    margin-bottom: 25px;
    border-bottom: 1px solid #d6d6d6;
}

.block-product-cat.view-list .item-product .thumb {
    width: 33.333%;
}

.block-product-cat.view-list .item-product .thumb img {
    margin: 0 auto;
}

.block-product-cat.view-list .item-product .content {
    flex: 1;
    border: 0;
    padding: 0 15px;
}

.block-product-cat.view-list .item-product .content .infor {
    max-width: 430px;
    margin: 5px 0;
}

.block-product-cat.view-list .item-product .content .ttl-item {
    height: auto !important;
    line-height: 22px;
    margin: 0;
    padding: 15px 0;
}

.block-product-cat.view-list .item-product .content .utilities {
    display: block;
    text-align: left;
}

.block-product-cat.view-list .item-product .content .utilities .list-utilities {
    display: none;
}

.block-product-cat.view-list .item-product .content .utilities .text-center {
    width: 100%;
    text-align: left !important;
}

.block-product-cat.view-list .item-product .content .show-in-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.box-pager {
    text-align: center;
    margin-bottom: 20px;
}

.box-pager ul {
    display: inline-block;
    margin: 0 0 24px;
}

.box-pager ul:after {
    content: "";
    clear: both;
    display: table;
}

.box-pager ul li{
    float: left;
    margin-right: -1px;
    border: 1px solid #ddd;
}

.box-pager ul li a {
    border: 1px solid transparent;
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 20px;
}

.box-pager ul li a.active, .box-pager ul li.active a {
    color: #fff;
    background-color: #292663;
    border-color: #474d52;
}

.box-pager ul li a.active:hover, .box-pager ul li.active a:hover {
    color: #fff;
    background-color: #292663;
    border-color: #474d52;
}

.box-pager ul li a:hover {
    color: #111;
    border-color: #95bcda;
    background: #e5f2fd;
}

.box-pager span,
.box-pager a{
    padding: 10px !important;
}
.box-pager span.current{
    background-color: #292663;
    border-color: #474d52;
    color: #fff;
}
.box-pager a:hover{
    color: #111;
    border-color: #95bcda;
    background: #e5f2fd;
}

@media (max-width: 1199px) {
    .block-product-cat.view-list .item-product .thumb {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .block-product-cat.view-list .item-product {
        display: block;
    }

    .block-product-cat.view-list .item-product .thumb {
        width: 100%;
    }

    .block-product-cat.view-list .item-product .content {
        width: 100%;
        padding: 8px 0 0;
    }

    .block-product-cat.view-list .item-product .content .infor {
        width: 100%;
        max-width: 100%;
    }

    .sec-head-page .ttl-title-page, .sec-head-page .count-item {
        text-align: center;
    }

    .sec-head-page .block-sort .view {
        display: none;
    }
}

.ttl-title-detail {
    color: #292663;
    font-weight: 500;
    font-size: 22px;
    line-height: 1.3;
    margin-bottom: 30px;
}

.sec-detail-page {
    padding: 30px 0;
}

.sec-detail-page .property {
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    margin-bottom: 25px;
}

.sec-detail-page .property .id-post {
    font-size: 18px;
}

.sec-detail-page .property .price-lang {
    padding: 6px 10px;
    background: #fff;
    border: 1px solid #d6d6d6;
    color: #2c3e50;
}

.sec-detail-page .property .price-lang .price {
    font-size: 18px;
    color: #d1232a;
    display: inline-block;
    vertical-align: middle;
}

.slider-detail .item img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

.slider-detail .slick-next-dt {
    font-size: 36px;
    color: #fff !important;
    position: absolute;
    top: 50%;
    right: 10px;
    z-index: 10;
    cursor: pointer;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
    opacity: 0.75;
    -moz-transition: all 0.26s ease;
    -o-transition: all 0.26s ease;
    -webkit-transition: all 0.26s ease;
    transition: all 0.26s ease;
    margin-top: -15px;
}

.slider-detail .slick-next-dt:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
}

.slider-detail .slick-prev-dt {
    font-size: 36px;
    color: #fff !important;
    position: absolute;
    top: 50%;
    left: 10px;
    z-index: 10;
    cursor: pointer;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
    opacity: 0.75;
    -moz-transition: all 0.26s ease;
    -o-transition: all 0.26s ease;
    -webkit-transition: all 0.26s ease;
    transition: all 0.26s ease;
    margin-top: -15px;
}

.slider-detail .slick-prev-dt:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
}

.infor-detail {
    padding: 15px;
    background: #fff;
    border: 1px solid #dedede;
    margin: 10px 0;
}

.infor-detail .top-detail div {
    font-size: 18px;
    width: 50%;
    color: #2c3e50;
}

.list-utilities-detail {
    margin-top: 20px;
}

.list-utilities-detail .row {
    margin-left: -3px;
    margin-right: -3px;
}

.list-utilities-detail .item {
    text-align: center;
    border: 1px solid #fff;
    background: #e4e4e4;
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.list-utilities-detail .item .icon {
    font-weight: bold;
    padding-top: 15px;
    font-size: 24px;
}

.list-utilities-detail .item .text {
    padding: 5px 0 11px 0;
}

.list-utilities-detail .item .num {
    font-size: 16px;
    border-top: 1px solid #fff;
    margin: 0;
    padding: 16px 0;
    line-height: 1;
}

.list-utilities-detail .item .num sup {
    font-size: 75%;
    position: relative;
}

.box-service .ttl-service {
    font-size: 15px;
    margin: 15px 0 10px;
    font-weight: 600;
    border-bottom: 1px solid #d9dbe0;
}

.box-service p {
    color: #606e7c;
    line-height: 1.4;
    margin-bottom: 12px;
}

.list-service {
    padding: 0 10px;
}

.list-service li {
    padding-top: 3px;
    padding-bottom: 3px;
}

.style-radio {
    display: block;
}

.style-radio input {
    display: none;
}

.style-radio input:checked + span:before {
    position: absolute;
    left: 3px;
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 30px;
    background-color: #6f91ad;
    top: 6px;
}

.style-radio span {
    display: block;
    position: relative;
    padding: 2px 0 2px 15px;
}

/*.style-radio span:after {
    position: absolute;
    top: 3px;
    left: 0;
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 30px;
    border: 2px solid #6f91ad;
}*/

.map-detail {
    width: 100%;
}
.map-detail iframe{
    width: 100% !important;
}

.info-box img {
    border: 0;
    width: 40%;
    float: left;
    margin-right: 10px;
}

.info-box h3 {
    font-size: 14px;
    overflow: hidden;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.info-box p {
    margin: 0;
}

.mapSmall {
    max-width: 100% !important;
    height: 400px !important;
    position: relative !important;
    margin: 15px 0;
    z-index: 10;
}

.mapinfo {
    display: inline-block;
    width: 100%;
    height: 30px;
}

.map-left {
    float: left;
    width: 42%;
}

.map-left p {
    padding: 4px 10px;
    text-align: left;
    border-bottom: 1px solid #eee;
}

.map-left p .vright {
    float: right;
    color: #404046;
}

.map-right {
    float: right;
    width: 70%;
    text-align: right;
    padding-right: 10px;
}

.map-right i {
    margin-right: 5px;
    margin-left: 10px;
}

.box-author {
    margin-bottom: 20px;
}

.box-author .item-agents {
    padding: 0;
    background: #fff;
    border: 1px solid #dedede;
    position: relative;
    text-align: center;
    padding-top: 0;
}

.box-author .item-agents .scl-agents {
    background: none;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    position: relative;
    padding: 0 0;
    margin: 5px 0 10px;
}

.box-author .item-agents .scl-agents a {
    color: #585858;
    font-size: 16px;
    margin: 0 10px;
}

.box-author .item-agents .info {
    padding: 0;
}

.box-author .item-agents .info .name {
    margin: 7px 0 2px;
    text-transform: uppercase;
    font-size: 16px;
    color: #49494a;
    font-weight: 600;
}

.box-author .item-agents .info .position {
    margin: 0 0 10px 0;
    font-size: 14px;
    color: #2c3e50;
}

.box-author .item-agents .info .phone, .box-author .item-agents .info .mail {
    line-height: 20px;
    margin-bottom: 0;
}

.box-author .item-agents .info .phone a, .box-author .item-agents .info .mail a {
    color: #2c3e50;
}

.box-author .item-agents .thumb {
    overflow: unset;
    margin: 0;
}

.box-author .item-agents .thumb img {
    width: 100%;
    /*max-width: 40%;*/
    margin: -60px auto 50px;
    border: 2px solid #eaeaea;
}

.box-author .item-agents .thumb img:hover {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.box-tag-sidebar {
    padding: 25px 20px;
    background: #fff;
    border: 1px solid #dedede;
    margin-bottom: 20px;
}

.box-tag-sidebar hr {
    border-top: 1px solid #ddd;
    margin-top: 24px;
    margin-bottom: 24px;
}

.box-tag-sidebar .list-share {
    -ms-flex-pack: justify;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    margin-bottom: 10px;
}

.box-tag-sidebar .list-share a {
    display: block;
}

.box-tag-sidebar .list-share a img {
    width: 32px;
}

.all-tag {
    text-align: center;
}

.all-tag a {
    color: #585858;
    margin-left: 3px;
}

.all-tag a i {
    margin-right: 3px;
}

.all-tag a:hover {
    color: #6f91ad;
}

.btn--default {
    display: block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    text-decoration: none;
    white-space: nowrap;
    padding: 6px 10px;
    font-size: 11px;
    line-height: 1.6;
    border-radius: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: 700;
    font-size: 11px;
    position: relative;
    text-decoration: none;
    border: 1px solid #cad9e4;
    background: none;
    color: #2c3e50;
    width: 49%;
    margin: 0 auto 10px;
}

.btn--default:hover {
    border-color: #d1232a;
    color: #d1232a;
}

.btn--default i {
    margin-right: 5px;
}

.sec-other .ttl-other {
    font-size: 24px;
    margin-top: 24px;
    margin-bottom: 12px;
}

.slider-other .item-similer {
    padding: 0 10px;
}

.box-inquiry {
    padding: 25px 20px;
    background: #fff;
    border: 1px solid #dedede;
    margin-bottom: 20px;
}

.box-inquiry .box-quiry {
    margin-bottom: 10px;
}

.ttl-quiry {
    color: #292663;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 18px;
    text-align: center;
}

.text-area {
    display: block;
    width: 100%;
    height: 120px;
    padding: 6px 12px;
    font-size: 15px;
    line-height: 1.6;
    color: #2c3e50;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d6d6d6;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    outline: none;
}

@media (max-width: 768px) {
    .ttl-title-detail {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .sec-detail-page .property {
        display: block;
    }

    .sec-detail-page .property .price-lang {
        width: 100%;
        margin-bottom: 15px;
    }

    .sec-detail-page .property .id-post {
        width: 100%;
    }

    .infor-detail .top-detail {
        display: block;
    }

    .infor-detail .top-detail div {
        font-size: 14px;
        width: 100%;
        text-align: left !important;
    }

    .box-author {
        margin-top: 70px;
    }

    .info-box img {
        width: 100%;
        float: none;
        margin-right: 0;
    }

    .map-left {
        width: 100%;
        float: none;
    }

    .map-left p {
        padding-left: 0;
        padding-right: 0;
    }

    .map-left p .vright {
        float: none;
    }

    .box-inquiry {
        position: relative !important;
        left: auto !important;
        top: auto !important;
        width: 100% !important;
    }
}

.block-map {
    margin-top: 30px;
}

.block-map iframe {
    display: block;
    width: 100%;
    border: 0;
    height: 450px;
}

.sec-contact {
    padding: 40px 0;
}

.sec-contact .ttl-contact {
    margin-bottom: 25px;
    color: #292663;
    font-weight: 500;
    font-size: 22px;
    line-height: 1.3;
}

.sec-contact p {
    color: #606e7c;
    line-height: 1.4;
    margin-bottom: 0;
}

.sec-contact .box-quiry {
    margin-bottom: 20px;
}

.sec-contact .text-btn {
    text-align: right;
}

.input-send {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    padding: 4px 10px;
    font-size: 13px;
    line-height: 1.6;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    display: inline-block;
    cursor: pointer;
    outline: none;
}

@media (max-width: 768px) {
    .form-page-contact {
        margin-top: 40px;
    }

    .sec-contact .text-btn {
        margin-top: 20px;
        text-align: center;
    }
}

.sec-detail-page-news {
    padding: 24px 0;
}

.sec-detail-page-news .box-author {
    background: #fff;
    border: 1px solid #dedede;
    padding: 20px;
}

.sec-detail-page-news .box-author .item-agents {
    margin-top: 70px;
}

.sec-detail-page-news .list-share {
    padding: 20px 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.sec-detail-page-news .list-share a {
    display: block;
    margin: 0 10px 0 0;
}

.sec-detail-page-news .list-share a img {
    width: 32px;
    display: block;
}

.sec-detail-page-news .content-detail {
    padding: 10px 0;
}

.sec-detail-page-news .content-detail iframe {
    margin-bottom: 12px;
    max-width: 100%;
}

.sec-detail-page-news .content-detail ul {
    margin-bottom: 12px;
    padding: 0 0 0 17px;
    list-style: disc;
}

.sec-detail-page-news .content-detail ol {
    margin-bottom: 12px;
    padding: 0 0 0 17px;
    list-style: decimal;
}

.sec-detail-page-news .ttl-title-detail {
    margin-bottom: 12px;
}

.sec-detail-page-news .time-view {
    color: #606e7c;
}

.sec-detail-page-news .time-view span {
    margin: 0 20px;
    display: inline-block;
    vertical-align: middle;
}

.sec-detail-page-news .time-view span:first-child {
    margin-left: 0;
}

.sec-detail-page-news .time-view span i {
    margin-right: 3px;
}

.box-guide-list {
    background-color: #fff;
    border: 1px solid #dedede;
    padding: 20px;
    margin-bottom: 20px;
}

.box-guide-list ul li + li {
    border-top: 1px solid #dedede;
}

.box-guide-list ul li a {
    color: #2c3e50;
    padding: 14px 0;
    display: block;
    font-weight: 600;
}

.box-guide-list ul li a:hover {
    color: #6f91ad;
}

.box-guide-list ul li a span {
    color: #6f91ad;
    float: right;
    font-size: 13px;
    font-weight: 400;
    padding: 2px 9px;
    background: #ddd;
    border-radius: 50%;
}

.box-tag-detail label {
    color: #606e7c;
    margin-bottom: 12px;
    text-transform: uppercase;
}

.box-tag-detail div {
    font-size: 11px;
}

.box-tag-detail div a {
    display: inline-block;
    padding: 2px 4px;
    font-size: 11px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    background-color: #777;
    margin-right: 4px;
    border-radius: 2px;
}

.box-tag-detail div a:hover {
    background-color: #5e5e5e;
}

.box-tag-detail div a i {
    margin-right: 2px;
}



/*********************************** fix css 10/9/2019*********************************************************/

header .inner-top-header{
    min-height: 1px;
}
header .main-nav{
    top: 0;
}
.block-doc{
    padding-top: 62px;
}


.langue-box{
    cursor: pointer;
}
.langue{
    width: 100px;
    position: relative;
    margin-left: 10px;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    background-color: #ddd;
    padding: 2px 5px 3px;
    border-radius: 4px;
}
.langue img{
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    margin-right: 3px;
}
.langue span{
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    width: 60px;
}
.langue i{
    position: absolute;
    top: 7px;
    right: 5px;
}
.langue .langue-drop{
    z-index: 10;
    position: absolute;
    width: 100px;
    top: 21px;
    left: 0;
    -moz-transition: all 0.26s ease;
    -o-transition: all 0.26s ease;
    -webkit-transition: all 0.26s ease;
    transition: all 0.26s ease;
    opacity: 0;
    visibility: hidden;
}
.langue .langue-drop.active{
    opacity: 1;
    top: 31px;
    visibility: visible;
}
.langue .langue-drop ul li{
    display: block;
    background-color: #ddd;
    padding: 3px 5px;
}
.langue .langue-drop ul li + li{
    border-top: 1px solid #999;
}
header .top-header .langue{
    display: none;
}
footer .more-action{
    display: block;
    position: fixed;
    top: 50%;
    right: 10px;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
    background: none!important;
    border: 0!important;
    padding: 0!important;
    left: auto!important;
    width: 40px!important;

}
footer .more-action .item-action{
    margin-bottom: 10px;
}
footer .more-action .item-action a{
    display: block;
    padding: 6px!important;
    border-radius: 40px;
}
footer .more-action .item-action a{
    background-color: #ffffff !important;
}
footer .more-action .item-action a img{
    display: block;
    padding: 0;
}
footer .more-action .item-action span{
    display: none!important;
}
@media (max-width:768px) {
    footer .more-action {
        display: block;
        position: fixed;
        top: auto;
        right: 0;
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
        width: 100%!important;
        bottom: 0;
        background-color: #ffffff !important;
        z-index: 9;
        /*padding-right: 30px!important;*/
    }

    footer .more-action .item-action {
        margin: 0 10px 5px;
    }

    footer .more-action .item-action a {
        display: block;
        padding: 5px;
        border-radius: 40px;
    }

    footer .more-action .item-action a {
        background-color: #f9f9f9 !important;
    }

    footer .more-action .item-action a img {
        width: 28px;
        display: block;
    }

    footer .more-action .item-action span {
        display: block!important;
    }

    header .top-header .langue{
        margin-left: 100px;
    }
    .block-filter-mobile{
        display: block;
    }
    .block-filter-desktop{
        display: none;
    }
}

@media (max-width:1400px) {
    header .main-nav nav ul li a{
        padding: 18px 10px;
        font-size: 14px;
    }
    header .right-header .phone-header{
        padding: 22px 10px 22px 10px;
    }
}
@media (max-width:1199px) {
    header .logo{
        width: 140px;
    }
    header .main-nav nav ul li a {
        padding: 18px 7px;
        font-size: 12px;
    }
    header .right-header .phone-header {
        padding: 22px 5px 15px 5px;
        font-size: 12px;
    }
    header .right-header .phone-header i{
        font-size: 14px;
    }
}
@media (max-width: 991px){
    header .main-nav .right-header .langue{
        display: none;
    }
    header .top-header .langue{
        display: block;
    }
}